<!-- About Start -->
<div class="container-fluid position-relative overflow-hidden bg-secondary py-5">
    <img src="{{about.decorativeImage}}" class="img-fluid position-absolute top-0" style="right: -15px; transform: rotate(270deg); opacity: 0.5;" alt="">
    <img src="{{about.decorativeImage}}" class="img-fluid position-absolute" style="bottom: 10px; left: -15px; transform: rotate(90deg); opacity: 0.5;" alt="">
    <div class="container py-5 position-relative">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="border-white bg-primary" style="border-style: double;">
                    <img src="{{about.image}}" class="img-fluid w-100" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-uppercase text-dark fw-bold mb-4">Awal Sebuah Kisah</h5>
                    <h1 class="display-5 text-white mb-4">Cinta yang Dipersatukan dalam Keindahan Sebuah Janji Suci</h1>
                    <p class="text-white fs-5 mb-4">Setiap perjalanan memiliki awal yang indah, dan bagi kami, hari ini adalah awal dari kisah yang akan kami jalani bersama selamanya. Dengan penuh rasa syukur dan sukacita, kami mengundang Bapak/Ibu/Saudara/i untuk menjadi saksi serta berbagi kebahagiaan dalam hari istimewa kami. Kehadiran dan doa restu Anda akan menjadi anugerah yang senantiasa kami kenang.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
