<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-4 text-start">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">{{footer.linksHeader}}</h4>
                    <a href="#" class="btn-link"> About</a>
                    <a href="#" class="btn-link"> Gallery</a>
                    <a href="#" class="btn-link"> Story</a>
                    <a href="#" class="btn-link"> Timeline</a>
                    <a href="#" class="btn-link"> RSVP</a>
                    <a href="#" class="btn-link"> Contact Us</a>
                    <a href="#" class="btn-link">{{footer.links.6.label}}</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="footer-item">
                    <h4 class="mb-4 text-white">{{brand.name}}</h4>
                    <p class="text-white">{{footer.description}}</p>
                    <div class="btn-link d-flex justify-content-center">
                        <a href="{{socialLinks.facebook}}" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{socialLinks.twitter}}" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-twitter"></i></a>
                        <a href="{{socialLinks.instagram}}" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-instagram"></i></a>
                        <a href="{{socialLinks.linkedin}}" class="btn btn-md-square btn-light btn-light-outline-0 me-0"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-end">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">{{footer.followUsHeader}}</h4>
                    <a href="#" class="btn-link"> Faceboock</a>
                    <a href="#" class="btn-link"> Instagram</a>
                    <a href="#" class="btn-link"> Twitter</a>
                    <h4 class="my-4 text-white">{{footer.socialHeader}}</h4>
                    <a href="mailto:{{contact.email}}" class="btn-link"><i class="fas fa-envelope text-secondary me-2"></i> {{contact.email}}</a>
                    <a href="tel:{{contact.phone}}" class="btn-link"><i class="fas fa-phone text-secondary me-2"></i> {{contact.altPhone}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
