<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s" style="background: #4B3425 !important;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="footer-item">
                    <h2 class="text-white mb-3">Faldi &amp; Asti</h2>
                    <p class="text-white fs-5 mb-0">Hormat Kami, Bapak Sudiyo &amp; Ibu Sinah</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
