<div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="{{delay}}">
    <div class="gallery-item">
        <div class="gallery-img">
            <img class="img-fluid w-100" src="{{src}}" alt="">
            <div class="hover-style"></div>
            <div class="search-icon">
                <a href="{{src}}" data-lightbox="{{lightbox}}" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
            </div>
        </div>
        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
            <h5>{{title}}</h5>
            <p class="text-dark mb-0">{{date}}</p>
        </div>
    </div>
</div>
