<!-- Navbar start -->
<div class="container-fluid sticky-top px-0">
    <div class="container-fluid">
        <div class="container px-0">
            <nav class="navbar navbar-light navbar-expand-xl" id="navBar">
                <a href="index.html" class="navbar-brand">
                    <h4 class="text-primary display-6 fw-bold mb-0">{{brand.name}}</h4>
                </a>
                <div class="collapse navbar-collapse py-3" id="navbarCollapse">
                    <div class="navbar-nav mx-auto border-top">
                        <a href="#weddingHome" class="nav-item nav-link active">Home</a>
                        <a href="#weddingAbout" class="nav-item nav-link">About</a>
                        <a href="#weddingStory" class="nav-item nav-link">Story</a>
                        <a href="#weddingTimeline" class="nav-item nav-link">Timeline</a>
                        <a href="#weddingGallery" class="nav-item nav-link">Gallery</a>
                        <a href="#weddingRsvp" class="nav-item nav-link">RSVP</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
