<!-- Story Start -->
<div class="container-fluid story position-relative py-5" id="weddingStory">
    <div class="position-absolute" style="top: -35px; right: 0;">
        <img src="assets/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="position-absolute" style="top: -15px; left: 0; transform: rotate(150deg);">
        <img src="assets/img/tamp-bg-1.png" class="img-fluid" alt="">
    </div>
    <div class="container position-relative py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="text-uppercase text-primary fw-bold mb-4">{{story.label}}</h5>
            <h1 class="display-4">{{story.title}}</h1>
        </div>
        <div class="story-timeline">
            <div class="row wow fadeInUp" data-wow-delay="0.2s">
                <div class="col-md-6 text-end border-0 border-top border-end border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="{{story.items.0.image}}" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="mb-2 text-dark">{{story.items.0.title}}</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">{{story.items.0.date}}</p>
                        <p class="m-0 fs-5">{{story.items.0.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">{{story.items.1.title}}</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">{{story.items.1.date}}</p>
                        <p class="m-0 fs-5">{{story.items.1.description}}</p>
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="{{story.items.1.image}}" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="{{story.items.2.image}}" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
                <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">{{story.items.2.title}}</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">{{story.items.2.date}}</p>
                        <p class="m-0 fs-5">{{story.items.2.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-md-6 text-end border border-start-0 border-secondary p-4 ps-0">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                        <h4 class="text-dark mb-2">{{story.items.3.title}}</h4>
                        <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">{{story.items.3.date}}</p>
                        <p class="m-0 fs-5">{{story.items.3.description}}</p>
                    </div>
                </div>
                <div class="col-md-6 border border-end-0 border-secondary p-4">
                    <div class="d-inline-flex align-items-center h-100">
                        <img src="{{story.items.3.image}}" class="img-fluid w-100 img-border" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Story End -->
